
$content-widths: (
        'xl': 1440px,
        'lg': 1200px,
        'md': 992px,
        'sm': 767px,
);

$font-sizes: (
        "xxxl": 48px,
        "xxl": 36px,
        "xl": 24px,
        "lg": 18px,
        "md": 15px,
        "sm": 14px,
        "xs": 10px,
);

$font-color:(
        "white": #ffff,
        "blue": #3D4F9F,
        "blue-medium": #4074F8,
        "blue-light": #8D96BD,
        "grey-light": #c2c8f3,
        "grey": #ADB3CB,



)
