/* Reset margin, padding, and border */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Set font properties to inherit */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Remove default list styling */
ol, ul {
  list-style: none;
}

/* Set border-box sizing for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove text decoration from anchors */
a {
  text-decoration: none;
  color: black;
}

/* Set tables to border-collapse */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset form elements */
input, button, textarea, select {
  font-family: inherit;
  font-size: 100%;
}

/* Responsive images and media */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Remove the outline on focused elements when they are also active or hovered */
a:active, a:hover {
  outline: 0;
}

/* Prevent iOS font size adjustments after orientation changes */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Reset body */
body {
  line-height: 1;
  background: white;
  color: black;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  width: 113px;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.btn_autosize {
  padding: 13px 15px;
  width: auto;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.btn_blue {
  background-color: #D2E1FF;
  color: #3A79FF;
  cursor: pointer;
}

.btn_blue_white-banner-ten {
  background-color: #4C85FF;
  color: #FFFFFF;
  border-radius: 10px;
  width: 150px;
  height: 59px;
  cursor: pointer;
}

.btn_blue_white {
  background-color: #4C85FF;
  color: #FFFFFF;
  cursor: pointer;
}

.btn_white_blue {
  background-color: #FFFFFF;
  color: #4C85FF;
  cursor: pointer;
}

.btn_red {
  background-color: #FFD7D7;
  color: #D43F3F;
  cursor: pointer;
}

.btn_grey {
  background-color: transparent;
  color: #aeaebb;
  border: 1px solid #ADB4D2;
  cursor: pointer;
}

.btn_transparent {
  background-color: transparent;
  color: #C7D3FF;
  border: 1px solid #ADB4D2;
  cursor: pointer;
}

.header .active {
  color: #3A79FF;
}

.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 42px;
  align-items: center;
}

.logo {
  width: 25px;
  height: 25px;
  background-color: #5E81FE;
  border-radius: 50%;
}

.header__nav nav {
  display: flex;
  gap: 42px;
}

.header__nav nav a {
  color: #697CA6;
}

.header__contacts {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}

.header__contacts i {
  color: #697CA6;
}

.banner__one {
  background: url(/src/assets/png/bg-banner1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80px 15px 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  text-align: center;
}

.banner__one h3 {
  font-size: 10px;
  color: #3D4F9F;
}

.banner__one h2 {
  font-size: 48px;
}

.banner__one h2 span {
  color: #3D4F9F;
}

.banner__one p {
  font-size: 15px;
  line-height: 20px;
  color: #8D96BD;
  width: 30%;
}

.banner__two {
  padding: 58px 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.banner__three {
  background-color: #F5F8FF;
  padding: 170px 270px 80px;
  display: flex;
  gap: 50px;
}

.banner__three-left {
  /*width: 40%;*/
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.banner__three-left h3 {
  font-size: 10px;
  color: #3D4F9F;
}

.banner__three-left h2 {
  font-size: 36px;
  color: #3D4F9F;
}

.banner__three-left p {
  width: 61%;
  font-size: 15px;
  color: #8D96BD;
  line-height: 20px;
}

.banner__three-right {
  position: relative;
}

/*.banner__three-right-image-1{
  width: 600px;
  height: 300px;
}*/
.banner__three-right-image-2 {
  position: absolute;
  left: -81px;
  top: 60px;
}

.banner__three-right-image-3 {
  position: absolute;
  width: 60%;
  left: 210px;
  top: 40px;
}

.banner__four {
  padding: 170px 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 92px;
}

.banner__four-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.banner__four h3 {
  font-size: 10px;
  color: #3D4F9F;
}

.banner__four h2 {
  font-size: 24px;
  color: #3D4F9F;
}

.banner__four-items {
  /*width: 25%;*/
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.banner__four-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.banner__four-item h2 {
  font-size: 14px;
  color: #4074F8;
}

.banner__four-item p {
  font-size: 10px;
  line-height: 18px;
  color: #ADB3CB;
}

.banner__four-buttons {
  display: flex;
  align-items: center;
  gap: 47px;
}

.banner__four-buttons p {
  font-size: 14px;
  color: #ADB3CB;
}

.banner__five {
  display: flex;
}

.banner__five-left {
  width: 50%;
  padding: 66px 90px;
  background-color: #4074F8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 24px;
}

.banner__five-left h2 {
  font-size: 48px;
  color: white;
}

.banner__five-left p {
  width: 45%;
  font-size: 18px;
  color: white;
  line-height: 22px;
}

.banner__five-right {
  width: 50%;
  padding: 66px 90px;
  background-color: #D8E3FE;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.banner__five-right h2 {
  font-size: 48px;
  color: #4074F8;
}

.banner__five-right p {
  width: 45%;
  font-size: 18px;
  color: #4074F8;
  line-height: 22px;
}

/*# sourceMappingURL=home-page.css.map */
